@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800;900&display=swap);
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	background:linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)), url(../img/BMW-3.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: inherit;
	
}
.hidden {
	display: none;
}
.btn {
	border: 0;
	background: transparent;
	color: #fff;
	font-size: 20px;
	font-family: inherit;
	cursor: pointer;
	text-align: center;
}
.show-btn {
	padding: 5px 10px;
	border-radius: 5px;
	background: #000;
	opacity: 0.7;
	transition:  0.5s ;
}
.show-btn:hover {
	opacity: 1;
	transform: scale(1.2);

}

.modal {
	position: fixed;
	max-width: 600px;
	width: 100%;
	background: #f4f4f4ff;
	border-radius: 10px;
	padding: 20px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 100;
}
.close-btn {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 20px;
	color: #333;
	border: 1px solid #333;
	border-radius: 3px;
}
.close-btn:hover {
	background: #333;
	color: #fff;
	transition: 0.5s;
}
.modal-header {
  
	margin-bottom: 20px;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(5px);
}