body {
    background-color: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
		background: linear-gradient(rgb(133, 37, 37), rgb(255, 0, 255));
		height: 100vh;
		margin: 0;
		font-family: Arial, sans-serif;
}

h1 {
		margin-top: 50px;
		color: white;
}
li {
    font-size: 18px; 
    list-style: none;
    background-color: #ad69cf;
    margin-top: 10px;
    padding: 15px 40px;
    width: 200px;
    text-align: center;
    color: white;
    border-radius: 6px;
}

button {
    background-color: #7d7c7d;
    border: none;
    color: white;
    padding: 10px 30px;
    font-size: 16px;
    margin-top: 30px;
    cursor: pointer;
    border-radius: 6px;
		align-items: center;
}


#username {
		display: flex;
		padding: 10px;
		font-size: 16px;
		margin-top: 30px;
		border-radius: 6px;
		border: 1px solid #ccc;		
}
